// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2023, Igor Belwon <thenxguy0@gmail.com>
 */

/dts-v1/;

#include "exynos990.dtsi"

/ {
	model = "Samsung Galaxy Note20";
	compatible = "samsung,c1s", "samsung,exynos990";
    	
	memory@9a0000000 {
		device_type = "memory";
		reg = <0x09 0xa0000000 0x20000000>;
	};

    memory@920000000 {
		device_type = "memory";
		reg = <0x09 0x20000000 0x20000000>;
	};

    memory@9c0000000 {
		device_type = "memory";
		reg = <0x09 0xc0000000 0x20000000>;
	};

    memory@880000000 {
		device_type = "memory";
		reg = <0x08 0x80000000 0x20000000>;
	};

    memory@940000000 {
		device_type = "memory";
		reg = <0x09 0x40000000 0x20000000>;
	};

    memory@e1900000 {
		device_type = "memory";
		reg = <0x00 0xe1900000 0x1e700000>;
	};

    memory@c0000000 {
		device_type = "memory";
		reg = <0x00 0xc0000000 0x00>;
	};

    memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x3ab00000>;
	};

    memory@9e0000000 {
		device_type = "memory";
		reg = <0x09 0xe0000000 0x20000000>;
	};


	memory@900000000 {
		device_type = "memory";
		reg = <0x09 0x00 0x20000000>;
	};


	memory@8c0000000 {
		device_type = "memory";
		reg = <0x08 0xc0000000 0x20000000>;
	};


	memory@8a0000000 {
		device_type = "memory";
		reg = <0x08 0xa0000000 0x20000000>;
	};


	memory@980000000 {
		device_type = "memory";
		reg = <0x09 0x80000000 0x20000000>;
	};


	memory@c1200000 {
		device_type = "memory";
		reg = <0x00 0xc1200000 0x1ee00000>;
	};


	memory@960000000 {
		device_type = "memory";
		reg = <0x09 0x60000000 0x20000000>;
	};

	memory@8e0000000 {
		device_type = "memory";
		reg = <0x08 0xe0000000 0x20000000>;
	};

    aliases {
	};

	chosen {
		bootargs = "earlycon=simplefb,0xF1000000,1080,2400 console=simplefb";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "framebuffer0";

		framebuffer0: framebuffer@9d400000 {
			compatible = "simple-framebuffer";
			reg = <0 0xF1000000 0 (1080 * 2400 * 4)>;
			width = <1080>;
			height = <2400>;
			stride = <(720 * 4)>;
			format = "a8r8g8b8";
			status= "okay";
		};
	};

    reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ramoops@92000000 {
			compatible = "ramoops";
			reg = <0 0x92000000 0 0x8000>;
			record-size = <0x4000>;
			console-size = <0x4000>;
		};
	};

};