// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2023, Igor Belwon <thenxguy0@gmail.com>
 */

/dts-v1/;

#include "exynos990.dtsi"

/ {
	model = "Samsung Galaxy Note20";
	compatible = "samsung,c1s", "samsung,exynos990";

    memory@80000000 {
		device_type = "memory";
		reg = <0 0x90000000 0 0x8000000>;
	};

    aliases {
	};

	chosen {
		bootargs = "earlycon=simplefb,0xF1000000,1080x2400x32 console=simplefb";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
    };

};